<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" th:href="@{http://localhost:8080/css/index.css}">
</head>

<body class="body">

	<div class="article">
		<a th:href="@{/turnos}">Turnos</a> <br>
		<a th:href="@{/medicos}">Medicos</a> <br>
		<a th:href="@{/pacientes}">Pacientes</a> <br>
		<a th:href="@{/especialidades}">Especialidades</a> <br>
		<a th:href="@{/consultorios}">Consultorios</a> <br>

	</div>

</body>

</html>